/python_file/.ipynb_checkpoints/
/python_file/__pycache__
/python_file/Untitled.ipynb
/python_file/table_crop.ipynb
/data/boarding_pass.csv
/pdf/boarding_pass1.pdf
images/
/notebooks/.ipynb_checkpoints/